<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div id="content" class="container">{% block content %}{% endblock content %}</div>
</body>
</html>
